PORT=3000
API_KEY=change-me

DATABASE_URL=postgres://user:password@localhost:5432/jeil_receipt_ocr

GEMINI_API_KEY=

GOOGLE_SERVICE_ACCOUNT_KEY_PATH=../spiritual-hour-503102-a6-38b74304baaf.json

SHEET_ID_PURCHASE=1IjsAKLfwiGti0KRZEsf_YYNoM0iKflR-J1pcNoIiWYY
SHEET_ID_SALES=121YEYosIYgtdzpJAuAyRLEOqRS5PKEhl-1hxRO7oJjk
SHEET_ID_HYGIENE_CHECK=1_Ud__ZfAFF8xFhfMa-oWkfC0YSx6otrrSE5tdBGiFnY
SHEET_ID_HYGIENE_EDU=1vVdyIGuYhGELd8OZHaSNyjGXqqOOapcXAk44kkJsUWM

UPLOAD_DIR=./uploads
